<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h3>Message Sent</h3>
        <p>
            <%= data.name %>
        </p>
        <p>
            <%= data.email %>
        </p>
        <p>
            <%= data.message %>
        </p>
    </div>
</body>

</html>